<h1>Edit an Album</h1>

<form action="/album/<%= @album.id %>" method="post">
  <label for="name"> Name:</label>
  <input type="text" name="name" value="<%= @album.name %>">
  <label for="year"> Year:</label>
  <input type="number" name="year" value="<%= @album.year %>">
  <select name="artist_id">
   <% @artists.each do |artist|%>
    <option value="<%= artist.id %>" <%="selected = 'selected'" if @album.artist_id == artist.id%>><%= artist.name %></option>
  <% end %>
  </select>
  <input type="submit" value="Update">
</form>